.acct_main {
  width: 400px;  
  display: block;
  margin-left: 24px;
  margin-right: 24px;
}

.acct_paper {
  margin-top: 64;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px 24px;
}

.acct_form {
  width: 100%;  
}

.acct_submit {
  margin-top: 24px;
}

.btn_wrapper {
  position: relative;
}

.btn_progress {
  position: absolute;
  top: -6px;
  left: -6px;
  z-index: 1;
}